PORT=3002
NODE_ENV=development
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_CLUSTER=mainnet-beta
APP_API_KEY=
SOLANATRACKER_API_KEY=
HELIUS_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DROPS_BOT_API_KEY=
